.nav-container{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    position: fixed;
    padding: 10px;
    justify-content: space-between;
}
.nav-img{
    width: 150px;
}
.nav-img:hover{
    cursor: pointer;
    width: 170px;
}
.nav-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}.nav-ul a{
    text-decoration: none;
    color: #000;
}
li:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(10, 50, 50);
    cursor: pointer;
}
